body {
	margin: 0;
}
header {
	width: 100%;
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto; }
	header li {   padding: 10px 15px; }
h1 {margin: 0 auto;}
ul {text-align: justify-all;}
	li {
	display: inline-block;
	}
a {
	 text-decoration: none; 
}
a {
	color: purple;
}
.wrapper {
	background: linear-gradient(#8B7B8B, #FFE1FF);
}
h2 {text-align: center;
	color: rgb(139,102,139);}
 p {font-size: 20px;}
.picture {
	display: flex;
	max-height: 800px;
	max-width: 100%;
	flex-basis: 100%;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: stretch;
	margin: auto;
}
section {
	padding: 10px;
}
iframe {width: 100%} 